.header{
    width: 100%;
    min-width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color: #24436F;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    min-width: 1126px;
    height: 75px;
    left: 175px;
    top: 0px;
    padding-bottom: 10px;
}

.header-small-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 485px 316px 288px;
    grid-gap: 15px;
    width: 80%;
    min-width: 1126px;
    height: 30px;
    left: 0px;
    top: 13px;
}

.header-logo-container{
    display: grid;
    align-items: center;
    grid-template-columns: 122px 335px;
    grid-gap: 10px;
    width: 40%;
    min-width: 485px;
    height: 30px;
}

.header_logo{
    display: flex;
    align-items: center;    
}

.header-logo-container_text{
    width: 70%;
    vertical-align: center;
    min-width: 335px;
    color: #BFC9D7;
    font-size: 12px;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: 400;
}

.release{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 28%;
    min-width: 316px;
    height: 30px;
    background: #345584;
    border-radius: 4px;
}

.release-container{
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 128px 1px 66px 1px 52px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}

.relese_text{
    width: auto;
    height: 13px;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.release_border{
    color:#BFC9D7;
}

.keyword{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    min-width: 288px;
    height: 30px;
}

.keyword-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyword-container_form{
    display: flex;
    text-align: center;
    justify-content: center;
}

.keyword-container_input{
    width: 258px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 12px;
}

.keyword-container_button{
    background-color: #3081C9;
    border-radius: 5px;
    padding: 5px
}

.main-header{
    width: 80%;
    min-width: 1126px;
    height: 13px;
    left: 0px;
    top: 52px;
}

.main-header-container{
    display: grid;
    grid-template-columns: 89px 1px 66px 1px 20px;
    justify-items: center;
    align-items: center;
    grid-gap: 7px;
}

.main-header_text{
    width: auto;
    height: 13px;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.main-header_border{
    color:#BFC9D7;
}
