body {
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
}

.body-container{
    display: grid;
    grid-template-rows: 75px 36px 263px auto 356px;
    width: 100%;
    min-width: 1440px;
    height: auto;
    min-height: 1574px;
}

.button--pressrelease-more{
    width: 118px;
    height: 38px;
    color: #FFFFFF;
    background-color: #3081C9;
    border-radius: 2px;
    margin: 0 auto;
}

.button--keyword-more{
    font-size: 12px;
    border: 1px solid #F1F1F1;
    border-radius: 11px;
    padding-inline: 8px;
}  

.text--normal{
    font-size: 13px;
}

.text--color-faint{
    font-size: 12px;
    color: #A2A2A2;
}


.header{
    width: 100%;
    min-width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color: #24436F;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    min-width: 1126px;
    height: 75px;
    left: 175px;
    top: 0px;
    padding-bottom: 10px;
}

.header-small-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 485px 316px 288px;
    grid-gap: 15px;
    width: 80%;
    min-width: 1126px;
    height: 30px;
    left: 0px;
    top: 13px;
}

.header-logo-container{
    display: grid;
    align-items: center;
    grid-template-columns: 122px 335px;
    grid-gap: 10px;
    width: 40%;
    min-width: 485px;
    height: 30px;
}

.header_logo{
    display: flex;
    align-items: center;    
}

.header-logo-container_text{
    width: 70%;
    vertical-align: center;
    min-width: 335px;
    color: #BFC9D7;
    font-size: 12px;
}

.release{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 28%;
    min-width: 316px;
    height: 30px;
    background: #345584;
    border-radius: 4px;
}

.release-container{
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 128px 1px 66px 1px 52px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}

.relese_text{
    width: auto;
    height: 13px;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.release_border{
    color:#BFC9D7;
}

.keyword{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    min-width: 288px;
    height: 30px;
}

.keyword-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyword-container_form{
    display: flex;
    text-align: center;
    justify-content: center;
}

.keyword-container_input{
    width: 258px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    font-size: 12px;
}

.keyword-container_button{
    background-color: #3081C9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px
}

.main-header{
    width: 80%;
    min-width: 1126px;
    height: 13px;
    left: 0px;
    top: 52px;
}

.main-header-container{
    display: grid;
    grid-template-columns: 89px 1px 66px 1px 20px;
    justify-items: center;
    align-items: center;
    grid-gap: 7px;
}

.main-header_text{
    width: auto;
    height: 13px;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.main-header_border{
    color:#BFC9D7;
}

.category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1440px;
    height: 36px;
}

.category-container{
    display: grid;
    grid-template-columns: 27px 77px 51px 40px 52px 78px 79px 91px 53px 38px 52px;
    grid-gap: 20px;
}

.category_text{
    font-size: 13px; 
    color: #294C7A;
    font-style: normal;
}

.ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1440px;
    height: 263px;
    background-color: #F2F2F2;
}

.ranking-container{
    display: grid;
    grid-template-columns: repeat(6, 181px);
    grid-gap: 5px;
}

.ranking-article{
    display: grid;
    grid-template-rows: 100px 119px;
    height: 218px;
    width: 181px;
}

 .ranking-article_img{
    display: grid;
    position: relative;
}

.ranking_number{
    position: absolute;
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    background-color: #294C7A;
}

.ranking-article_img--img{
    height: 100px;
    object-fit: contain;
}

.ranking-article_content{
    background-color: #FFFFFF;
}

.ranking-article_content-container{
    display: grid;
    grid-template-rows: 54px 13px 12px 10px;
    gap: 5px;
    margin: 0 10px;
}

.time{
    display: grid;
    grid-template-columns: 15px 44px;
}

.main{
    display: grid;
    grid-template-columns: 779px 312px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 78%;
    min-width: 1127px;
    height: auto;
}

.contents{
    display: grid;
    justify-content: center;
    grid-template-rows: 30px auto 38px;
    margin-top: 40px;
    margin-right: 30px;
}

.contents_headline{
    width: 212px;
    font-weight: bold;
    font-size: 24px;
}

.articles{
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: repeat(5, 118px);
    grid-auto-rows: 118px;
    grid-auto-columns: 380px;
    gap: 17px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.article{
    display: grid;
    grid-template-rows: 66px 18px;
    gap: 7px;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 17px;
}

.article-container{
    display: grid;
    grid-template-columns: 256px 100px;
}

.article-container_title{
    font-weight: bold;
    font-size: 14px;
}

.article-container_img{
    height: 66px;
    object-fit: contain;
}

.article_detail{
    display: grid;
    grid-template-columns: 15px 44px 144px;
    gap: 5px;
    justify-content: center;
    width: 210px;
}

.side{
    display: grid;
    grid-template-rows: 16px 73px;
    gap: 40px;
    height: 733px;
}

.side_headline{
    font-weight: bold;
    font-size: 18px;
}

.hot-keywords{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 9px;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 10px;
}

.hot-keyword{
    text-align: center;
    font-size: 12px;
    color: #3B3B3B;
    background-color: #F1F1F1;
    border-radius: 11px;
    padding-inline: 8px;
    line-height: 22px; 
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1440px;
    height: 356px;
    background-color: #FAFAFA;
    margin-top: 103px;
}

.footer-container{
    display: grid;
    grid-template-rows: 230px 46px 11px;
    width: 78%;
    min-width: 1125px;
    margin-top: 60px;
}

.footer_list{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}

.footer_list-title{
    font-size: 13px;
    line-height: 100%;
}

.footer_list-element{
    max-width: 281px;
    color: #797979;
    font-size: 12px;
    line-height: 100%;
}

.footer_list-box{
    height: 210px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 12px);
    row-gap: 18px;
}

.footer_list-recommend-box{
    height: 210px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.recommend-box_first-row{
    display: grid;
    grid-template-rows: repeat(7, 12px);
    row-gap: 18px;
}

.recommend-box_row{
    display: grid;
    grid-template-rows: repeat(auto-fill, 12px);
    row-gap: 18px;
}

.footer_terms{
    display: grid;
    grid-template-columns: 48px 120px 144px 130px 48px 72px;
    align-items: center;
    column-gap: 20px;
}

.footer_term{
    color: #797979;
    font-size: 12px;
    line-height: 100%;
}

.copyright{
    color: #797979;
    font-size: 11px;
    line-height: 100%;
}